.content {
   
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 1.5rem;
}
  h2 {
    color: #2800ff;
    font-size: 1rem;
  }
  .home-headline {
   font-family: "Roboto+Mono", monospace;
  
  }
  .headshot {
    width: 200px;
    height: auto;
   
  }
  .topheadline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #73ad21;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Raleway", monospace;
  }
  .footer-section {
    background: #73ad21;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  header, body, footer {
    max-width: 960px;
  }