@media only screen and (min-width: 45em) {

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}
      
div {
max-width: 350px;
}


.footer-section {
    border-radius: 25px;
}
     

    }
