

.footer-section {
  border-radius: 25px;
} 
  
   div{
     max-width: 350px;
     margin: 0 auto;
     border: 10px solid #73ad21;
  padding: 20px;
  border-radius: 20px;
   }
main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}


  
h1 {
  font-size: 1.5rem;
}

h2 {
  color: #2800ff;
  font-size: 1rem;
}

.home-headline {
  font-family: "Roboto+Mono", monospace;
}
  
header {
  background: #73ad21;
  padding: 20px;
  color: white;
  font-family: "Raleway", monospace;
  border: 5px solid #73ad21;
  border-radius: 5px;
  width: auto;
  height: auto;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.footer-section {
  background: #73ad21;
  padding: 20px;
  text-align: center;
}
 
    