  
  h1 {
    font-size: 1.5rem;
}
  h2 {
    color: #2800ff;
    font-size: 1rem;
  }
  main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    }
  img {
    max-width: 8rem;
    padding:10px;
  
  }
  header {
    display: flex;
    background: #73ad21;
    padding: 20px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    border: 5px solid #73ad21;
    border-radius: 10px;
    width: auto;
    height: auto;
    text-align: center;
   
  }
  
  .footer-section {
    background: #73ad21;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
  }
