
@media only screen and (min-width: 990px) {
	nav {
	  display: none;
	  width: 100%;
	  clear: both;
	  float: none;
	  max-height: 400px;
	  	}
			  
	header {
	  display: grid;
	}
	.navigation {
	  display: flex;
	  font-size: 1rem;
	}
  main {
	  display: grid;
	  grid-template-columns: 1fr 2fr 1fr;
  }
	.navigation li {
	  display: block; /* change state in small view */
	  flex: 1 1 auto;
	}
	.navigation a {
	  text-align: center;
	}
	.navigation li:first-child {
	  display: none;
	}
	first_content {
		grid-column: ;
	}
  }
  