/* Tablet Views ******************************/
/*@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	nav ul { display: flex; }
		nav ul li { flex: 1 1 auto; } 

	/**********************/
	/*nav ul {
		display: flex;
		/*grid-template-columns: repeat(5, 1fr);
	grid-template-columns:repeat(auto-fill, minmax(130px, 1fr));
	}*/

	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
	@media only screen and (min-width: 960px) {
		nav{display:block!important}
	  }
	  /* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}