@charset "UTF-8"; /* not necessary */
* 

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
.topnav {
display:flex;
}


.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌";
}
/* phone or baseline views **************************/
header,
footer {
	background-color: #bed;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

footer {
	flex-flow: column;
}
header, 
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
}
h2 {
	color: #536878;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}
nav a:hover {
	/* 	background-color: #bbb;
	color: #36454f; */
	--d: 75%;
}
.active {
	color: yellow;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: .5rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #eee;
}

main article ul {
margin: 1rem 0 0 1rem;
}
main picture {
	display: none;
	margin: 0.5rem;
}

footer {
	height: 2rem;
}

