@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}


main,
footer {
  margin: 1rem;
  position: relative;
}

header {
  padding: 20px;
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 5px;
  width: auto;
  height: auto;
  text-align: center;
}
h1,
h3 {
  font-size: 1.5rem;
  color: #d03e35;
  font-family: "Varela Round", sans-serif;
}

.topnav a:hover {
  background: #d03e35;
  color: black;
}

.topnav a.active {
  color: #f49807;
}
.topnav a:visited {
  color: #f49807;
}

.topnav a:link {
  color: #f49807;
}
.topnav {
  background: #2f2f30;
  padding: 1em;
  border: 5px solid #2f2f30;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.topnav a {
  color: #d03e35;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
}

nav {
  margin: 0 auto;
  max-width: 760px;
}
.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
  content: "🍔 ";
}

.navigation a:hover {
  color: white;
  background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "❌ ";
}
.ham {
  display: block;
}

h2 {
  color: blue;
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  color: #333;
  margin: 7px 0 5px 0;
}

p {
  margin: 0;
}

main {
  margin-left: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.cards section img {
  width: auto;
  max-width: 325px;
  box-shadow: 0 0 30px #333;
  height: 200px;
  border: 1px solid #333;
}

.logo {
  max-width: 4rem;
  float: left;
}
section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #f49807;
  border: 2px solid #975840;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > p {
  min-height: 60px;
}

li > img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}

.caption {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  border: 1px solid #ccc;
  background-color: lightyellow;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1rem 1fr;
}

.caption h6 {
  position: absolute;
  top: -2.3rem;
  left: -0.25rem;
}

.caption > div {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #bbb;
}

.caption > p {
  font-size: 0.75rem;
}

.most {
  background-color: #bed;
}

.fav {
  background-color: skyblue;
}

.own {
  background-color: rosybrown;
}
