.topnav a:hover {
  background: #d03e35;
  color: black;
}

.topnav a.active {
  color: #f49807;
}
.topnav a:visited {
  color: #f49807;
}

.topnav a:link {
  color: #f49807;
}
.topnav {
  background: #2f2f30;
  padding: 1em;
  border: 5px solid #2f2f30;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.topnav a {
  color: #d03e35;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
}

.color_scheme_img {
  max-width: 16rem;
}

.logo {
  max-width: 4rem;
  float: left;
}

.logo_pic {
  max-width: 6rem;
  float: left;
}

div {
  border: 3px solid #d03e35;
  padding: 20px;
  border-radius: 10px;
  background: #f2e1d2;
  text-align: left;
  margin: 1rem;
}

body {
  background: white;
}

h1,
h3 {
  font-size: 1.5rem;
  color: #d03e35;
  font-family: 'Varela Round', sans-serif;
}

h2 {
  color: #d03e35;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

}

img {
  width: 50%;
  height: auto;
}

header {
  padding: 20px;
  color: white;
  font-family: 'Varela Round', sans-serif;
  border-radius: 5px;
  width: auto;
  height: auto;
  text-align: center;
}

.first_content {
  max-width: 350px;
  margin: 0 auto;
  border: 10px solid #d03e35;
  padding: 20px;
  border-radius: 20px;
  background: white;
  text-align: left;
}

.footer-section {
  background: #975840;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  font-family: 'Arvo', serif;
  color: #f49807;
  font-size: 15px;
  color: #f49807;
  -webkit-text-stroke: 0.5px white;
  text-shadow: 2px 0px 0px rgba(0, 0, 0, 1);
  }
  .footnav {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
.container {
  margin: 0 auto;
  max-width: 760px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img-container {
  background-color:  #ccc;
  width: 100%;
  position: relative;
  padding-top: 80%;
  margin-bottom: 1rem;
}
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
}
nav {
  margin: 0 auto;
  max-width: 760px;
  
}
.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
  content: "🍔 ";
}

.navigation a:hover {
  color: white;
  background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "❌ ";
}
.ham {
  display: block;
}
.social {
  float: right;
  }
.face {
  max-height: 40px;
  max-width: 40px;
  border: none;
}
.you {
  max-height: 40px;
  max-width: 40px;
  border: none;
}
.insta {
  max-height: 40px;
  max-width: 40px;
  border: none;
}