.topnav a:hover {
  background: #d03e35;
  color: black;
}

.topnav a.active {
  color: #f49807;
}
.topnav a:visited {
  color: #f49807;
}

.topnav a:link {
  color: #f49807;
}
.topnav {
  background: #2f2f30;
  padding: 1em;
  border: 5px solid #2f2f30;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.topnav a {
  color: #d03e35;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
}

.color_scheme_img {
  max-width: 16rem;
}

.logo {
  max-width: 4rem;
  float: left;
}

.logo_pic {
  max-width: 6rem;
  float: left;
}

div {
  border: 3px solid #d03e35;
  padding: 20px;
  border-radius: 10px;
  background: #f2e1d2;
  text-align: left;
  margin: 1rem;
}



h1,
h3 {
  font-size: 1.5rem;
  color: #d03e35;
  font-family: 'Varela Round', sans-serif;
}

h2 {
  color: #d03e35;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

}

img {
  width: 50%;
  height: auto;
}

header {
  padding: 20px;
   font-family: 'Varela Round', sans-serif;
  border-radius: 5px;
  text-align: center;
}

.first_content {
  max-width: 350px;
  margin: 0 auto;
  border: 10px solid #d03e35;
  padding: 20px;
  border-radius: 20px;
  background: white;
  text-align: left;
}

.footer-section {
  background: #975840;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  font-family: 'Arvo', serif;
  color: #f49807;
  font-size: 15px;
  color: #f49807;
  -webkit-text-stroke: 0.5px white;
  text-shadow: 2px 0px 0px rgba(0, 0, 0, 1);
  }
  .footnav {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
.container {
  margin: 0 auto;
  max-width: 760px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.img-container {
  background-color:  #ccc;
  width: 100%;
  position: relative;
  padding-top: 80%;
  margin-bottom: 1rem;
}
.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
}
nav {
  margin: 0 auto;
  max-width: 760px;
  
}

.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
  content: "🍔 ";
}

.navigation a:hover {
  color: white;
  background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "❌ ";
}
.ham {
  display: block;
}
.social {
  float: right;
  }
.face {
  max-height: 40px;
  max-width: 40px;
  border: none;
}
.you {
  max-height: 40px;
  max-width: 40px;
  border: none;
}
.insta {
  max-height: 40px;
  max-width: 40px;
  border: none;
}

.thankyou {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
  background: white;
}


/*----------- HEADER --------------*/
/* header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;} */

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

}
/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
color: #445ba9;
margin: 0 1rem;
padding: 0 .5rem;
}

form label.top, form div {
display: block;
padding-top: 1rem;
color: #9c2c13;
font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
    }

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    }

    form label.top input:required {
        border-left: red solid 6px;
    }

    form label.top input:required:valid {
        border-left: green solid 6px;
    }


/*----------- FOOTER --------------*/
/* footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
} */



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}