.topnav a:hover {
    background: #d03e35;
    color: black;
  }
  
  .topnav a.active {
    color: #f49807;
    
  }
  .topnav a:visited {
    color: #f49807;
  }
  
  .topnav a:link {
    color: #f49807;
  }
  .topnav {
    background: #2f2f30;
    padding: 1em;
    border: 5px solid #2f2f30;
    border-radius: 10px;
  }
  
  .topnav a {
    color: #d03e35;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
  }

  .color_scheme_img {
    max-width: 16rem;
  }

  .logo {
    max-width: 4rem;
  }

  .logo_pic {
    max-width: 6rem;
  }

  
    
  body {
    background: #f2e1d2;
  }

  h1, h3 {
    font-size: 1.5rem;
    color: #d03e35;
    font-family: 'Varela Round', sans-serif;
  }
  
  h2 {
    color: #d03e35;
    font-size: 1rem;
  }
  main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    
    }
  img {
    width: 100%;
    height: auto;
  }
  header {
    padding: 20px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
    width: auto;
    height: auto;
    text-align: center;
  }
  .first_content {
    max-width: 350px;
    margin: 0 auto;
    border: 10px solid #d03e35;
    padding: 20px;
    border-radius: 20px;
    background: white;
    text-align: left;
    
  }
  
  .footer-section {
    background: #975840;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    font-family: 'Arvo', serif;
  }